.form-layout {
    border-radius: 15px;
    max-width: 500px;
}

.message-text{
    color: white;
}

.dash-p {
    padding: 0;
    margin: 0;
    font-size: 60px; 
}

.card-text {
    padding: 0;
    margin: 0;
}

.card-header{
    padding: 0;
    margin: 0;
}