{% extends 'app/layout.html' %}

{% block content %}
    <main>
        <h5> Welcome, {{user}} </h5>
        <hr>
        <div class="p-2">
            <div class="row">
                <div class="col-6 p-1">
                    <div class="card border-primary h-95">
                        <div class="card-header text-center"><h5>Active Runs</h5></div>
                        <div class="card-body text-center">
                            <p class="card-text text-center dash-p"><strong>6</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-6 p-1">
                    <div class="card border-primary h-95">
                        <div class="card-header text-center"><h5>All Runs</h5></div>
                        <div class="card-body">
                            <p class="card-text text-center dash-p"><strong>6</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <a class="btn btn-outline-primary btn-sm" href="{% url 'new_run' %}">Request New Run</a>
        <hr>
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Pick Up Date</th>
                    <th scope="col">Requester</th>
                    <th scope="col">Department</th>
                    <th scope="col">Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for run in runs %}
                    <tr>
                        <td scope="row">{{run.id}}</td>
                        <td scope="row">{{run.run_date}}</td>
                        <td scope="row">{{run.requester_name}}</td>
                        <td scope="row">{{run.requester_department}}</td>
                        <td scope="row">
                            <a href="{% url 'view-run' run.id %}">View</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

{% endblock %}