{% extends 'app/layout.html' %}

{% block content %}
    <main>
        <h3> Welcome, {{user}} </h3>
        <hr>
        <div class="p-2">
            <div class="row">
                <div class="col-6 p-1">
                    <div class="card border-primary">
                        <div class="card-header text-center"><h5 class="p-1">New Run</h5></div>
                        <a href="{% url 'new_run' %}">
                            <div class="card-body text-center">
                                <p class="card-text text-center dash-p">
                                    <i class="fa-solid fa-plus"></i>
                                </p>
                            </div>  
                        </a>
                    </div>
                </div>
                <div class="col-6 p-1">
                    <div class="card border-primary">
                        <div class="card-header text-center"><h5 class="p-1">Heavy Equipment</h5></div>
                        <div class="card-body text-center">
                           <p class="card-text text-center dash-p"><i class="fa-solid fa-plus"></i></p>
                        </div>
                    </div>
                </div>
                <div class="col-6 p-1">
                    <div class="card border-primary">
                        <div class="card-header text-center"><h5 class="p-1">Cast Pickup</h5></div>
                        <div class="card-body text-center">
                           <p class="card-text text-center dash-p"><i class="fa-solid fa-plus"></i></p>
                        </div>
                    </div>
                </div>
                <div class="col-6 p-1">
                    <div class="card border-primary">
                        <div class="card-header text-center"><h5 class="p-1">Truck/Trailer</h5></div>
                        <div class="card-body text-center">
                           <p class="card-text text-center dash-p"><i class="fa-solid fa-plus"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <a class="btn btn-outline-primary btn-sm" href="{% url 'new_run' %}" hidden>Request New Run</a>
        <br>
    </main>

{% endblock %}